<tr id="book<%= book.id %>">
  <td>
    <span class="custom-checkbox">
      <input type="checkbox" name="options[]" value="1">
      <label for="checkbox1"></label>
    </span>
  </td>
  <td>
    <%= image_tag book.book_img.url(:book_index),'data-action': "zoom"%>
  </td>
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.category.name%></td>
  <td><%= book.publish_date %></td>
  <td>
    <a href="#editBookModal" class="edit"data-target="#editBookModal_<%= book.id %>" data-toggle="modal"  %><i class="material-icons" data-toggle="tooltip"title="Edit">&#xE254;</i></a>
     <a href="#deleteBookModal_<%= book.id %>" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
  </td>
</tr>
