<!-- Edit Modal HTML -->
<div id="editBookModal_<%= book.id %>" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Book</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [:admin, book], remote: true, method: :PATCH, class: 'form-control',
                            :html => {:multipart => true} do |f| %>
          <%= select_tag(:category_id, options_for_select(@categories), include_blank: "Select a category", class: "form-control") %></br>
          <%= image_tag book.book_img.url(:book_index), 'data-action': "zoom" %>
          <%= f.file_field :book_img, class: 'form-control' %>
          <%= f.input :title %>
          <%= f.input :publish_date %>
          <%= f.input :author %>
          <%= f.input :description %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.button :submit %>
          </div>
        <% end %>
        </div>
  </div>
</div>

