 <!-- Edit Modal HTML -->
                <div id="editBookModal" class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Edit Book</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for [:admin,book],method: :PATCH,:html => { :multipart => true } do |f| %>
                          <%= f.select :category_id, @categories %>
                          <%= image_tag book.book_img.url(:book_index),'data-action': "zoom"%> 
                          <%= f.file_field :book_img, input_html: {value: f.object.book_img || book.book_img.url(:book_index)} %>
                          <%= f.input :title, input_html: {value: f.object.title || book.title} %>
                          <%= f.input :publish_date, as: :string, label: false, input_html: {value: f.object.publish_date || book.publish_date} %>
                          <%= f.input :author, input_html: {value: f.object.author || book.author} %>
                          <%= f.input :description, input_html: {value: f.object.description || book.description} ,as: :text%>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <%= f.button :submit %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
             