    <h2><%= @user.email %></h2>
    <%= render 'follow_form' if user_signed_in? %>
    <%= link_to "Back" , root_path %>
    <%= link_to "Edit" , edit_user_path(@user) %>
    <%= link_to "Delete" , user_path(@user) , method: :delete , data: { confirm: "Are you sure ?"} %>

