  <div class="container">
    <div class="col-md-12">
      <%= form_tag(books_path, method: :get) do  %>
        <div class="col-md-6" id="adv-search">
          <%= text_field_tag :term, params[:term], class: "form-control", placeholder: "Search by title",autocomplate: 'off' %>
        </div>
        <div class="col-md-4">
          <div class="button-group" style = "padding-left:10%">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"> Category</span> <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% @categories.each do |category| %>
                <li > <%= check_box_tag 'category_id[]', category[1], false, :id => category[1] , autocomplate: 'off' %><span><%= label_tag category[0]%></span> </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-1" style = "padding-left:3%">
          <%= submit_tag 'Search', class: "btn btn-primary"  %>
        </div>
      </div>
    <% end %>
    <div style="padding-top:50px;">
      <% @books.each do |book| %>
        <div class="col-md-3" id="book" style="height:250px;width:350px;">
          <a href="/books/<%= book.id %>">
            <%= image_tag book.book_img.url(:book_index)%>
          </a>
        </div>
      <% end %>
    </div>
    <%= will_paginate @books  , style: "color:red ;font-size:20px; "%>
  </div>
