
    <h1 class="current-category"><%= params[:category] %></h1>

    <% @books.each do |book| %>
    <div class="col-md-3" id="book" style="height:250px;width:350px;">
        <a href="/books/<%= book.id %>">
            <%= image_tag book.book_img.url(:book_index)%>
        </a>
    </div>
    <% end %>
    <div>
        <ul class="pager" style="margin-top: 46%" >
            <li class="previous <%= @page ==  0? 'disabled' : '' %>">
                <%= link_to_if @page > 1, "<< Previous", books_path(page: @page - 1) %>
            </li>

            <li class="next">
                <%= link_to "Next >>", books_path(page: @page + 1) %>
            </li>
        </ul>
    </div>
