<h3><%= @book.title %></h3>
<h3><%= @book.publish_date %></h3>
<h3><%= @book.author %></h3>
<%= link_to "Edit Book" , edit_book_path(@book) %>
<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you ok?"} %>