<div class="container-fluid main-container">
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-3">
            <h2><%= "Manager"%> <b><%= "Chart" %> </b></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <h2><%= "Line Chart" %> <b><%= "Book" %> </b></h2>
        <%= line_chart @book_by_month %>
      </div>

      <div class="col-md-6"><e></e>
        <h2><%= "Pie Chart" %> <b><%= "Category" %> </b></h2>
        <%= pie_chart @book_by_category %>
      </div>
    </div>
  </div>
</div>
