  <div class="container-fluid main-container">
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-3">
            <h2><%= I18n.t('admin.categories.manager') %> <b><%= I18n.t('admin.categories.category') %> </b></h2>
          </div>
          <div class="col-sm-7" style="padding-top:1%">
            <%= form_tag(admin_categories_path, method: :get, remote: true) do %>
              <div class="col-md-6" id="adv-search">
                <%= text_field_tag :term, params[:term], class: "form-control",
                                   placeholder: "Search by title", autocomplate: 'off' %>
              </div>
              <div class="col-md-2" style="padding-left:3%">
                <%= submit_tag 'Search', class: "btn btn-primary" %>
              </div>
              </div>
            <% end %>
            <div class="col-sm-2" style="padding-top:1%">
              <a href="#addCategoryModal" class="btn btn-success" data-toggle="modal" data-backdrop="false">
                <i class="material-icons">&#xE147;</i>
                <span><%= I18n.t('admin.categories.add-category') %></span>
              </a>
            </div>
            </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-wrapper" id="category-table">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll">
                  <label for="selectAll"></label>
                </span>
            </th>
            <th><%= I18n.t('admin.categories.category') %> </th>
            <th><%= I18n.t('admin.categories.action') %> </th>
          </tr>
          </thead>
          <tbody id="categories">
          <%= render 'admin/categories/add' %>
          <% @categories.each do |category| %>
            <tr id="category<%= category.id %>">
              <td>
                  <span class="custom-checkbox">
                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                    <label for="checkbox1"></label>
                  </span>
              </td>
              <td><%= category.name %></td>
              <td>
                <a href="#editCategoryModal_<%= category.id %>" class="edit" data-toggle="modal" s>
                  <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                </a>
                <a href="#deleteCategoryModal_<%= category.id %>" class="delete" data-toggle="modal">
                  <i class="material-icons" data-toggle="tooltip" title="Delete" class="delete-category">&#xE872;</i>
                </a>
                <%= render 'admin/categories/delete', category: category %>
              </td>
            <tr>
              <%= render 'admin/categories/edit', category: category %>
          <% end %>
          </tbody>
        </table>
        <div class="clearfix">
          <div class="hint-text"> <%= page_entries_info @categories %></div>
          <ul class="pagination">
            <div class="digg_pagination">
              <%= will_paginate @categories, :container => false %>
            </div>
          </ul>
        </div>
      </div>
      <div id="search-results">
      </div>
    </div>
  </div>
  </div>
  </div>
  <footer class="pull-left footer">
  <p class="col-md-12">
  <hr class="divider">
  footer
  </p>
  </footer>
  </div>

