  <div class="col-md-2 sidebar">
    <div class="row">
      <!-- uncomment code for absolute positioning tweek see top comment in css -->
      <div class="absolute-wrapper"></div>
      <!-- Menu -->
      <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Main Menu -->
          <div class="side-menu-container">
            <ul class="nav navbar-nav">
              <li class="active">
                <%= link_to admin_path do %>
               <span class="glyphicon glyphicon-dashboard"></span>
                <%= I18n.t("admin.books.dasboard") %>
                <% end %>
              </li>
              <li><%= link_to admin_charts_path do %>
                  <span class="glyphicon glyphicon-cloud"></span>
                  <%= I18n.t("admin.books.chart") %>
                <% end %>
              </li>
              <li>
                <%= link_to admin_books_path do %>
                  <span class="glyphicon glyphicon-plane"></span>
                  <%= I18n.t("admin.books.book") %>
                <% end %>
              </li>
              <li><%= link_to admin_categories_path do %>
                  <span class="glyphicon glyphicon-plane"></span>
                  <%= I18n.t("admin.books.category") %>
                <% end %>
              </li>
              <li><%= link_to admin_users_path do %>
                  <span class="glyphicon glyphicon-cloud"></span>
                  <%= I18n.t("admin.books.user") %>
                <% end %>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>